:root {
  color-scheme: light dark;
  text-wrap-style: balance;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  max-width: 100ch;
  margin: auto;
  padding: 1em;
}

[hreflang="fr"]::after {
  content: " 🇫🇷";
}

[hreflang="en"]::after {
  content: " 🇬🇧";
}

img {
  margin: 0;
  vertical-align: middle;
}

@media (min-width: 150ch) {
  body:has(main) {
    max-width: unset;
  }

  main {
    display: grid;
    grid-template-columns: fit-content(100ch) min-content fit-content(100ch);
    justify-content: center;
    gap: 1em;
  }

  footer {
    display: grid;
    justify-content: center;
  }
}
